PORT = 5001
HOST=0.0.0.0
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT= 5432
DB_USER= postgres
DB_PASSWORD= 123456
DB_NAME= TTCS

RESEND_API_KEY = 'resend_api'
GROQ_API_KEY='groq_api_key'

ACCESS_TOKEN_SECRET = 'access_token_secret'
EMAIL_TOKEN_SECRET='email_token_secret'

GOOGLE_CLIENT_ID='google_client_id'
