PORT = 5001
DB_HOST=localhost
DB_PORT= 5432
DB_USER= postgres
DB_PASSWORD= 123456
DB_NAME= TTCS

RESEND_API_KEY = 'resend_api'

ACCESS_TOKEN_SECRET = 'access_token_secret'

GOOGLE_CLIENT_ID='google_client_id'

